.about-page {
  padding-top: 100px;
  background: #fff;
  color: #333;
}

/* Heading */
.about-hero {
  text-align: center;
  margin-bottom: 50px;
}

.about-title {
  font-size: 52px;
  font-weight: 800;
}

.black {
  color: #000;
}

.red {
  color: #d62828;
}

.about-subtitle {
  font-size: 20px;
  color: #666;
  margin-top: 10px;
  text-align: justify;
  max-width: 1100px;
  padding-left: 65px;
}

/* Image */
.about-image-box {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto 60px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,0.9);
}

.about-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  
}
.about-image-box {
  animation: smoothZoom 1.2s ease forwards;
  opacity: 0;
}

@keyframes smoothZoom {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Story */
.about-story {
  max-width: 900px;
  margin: 0 auto 70px;
  text-align: justify;
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
}

.about-story p {
  font-size: 18px;
  color: #444;
  margin-bottom: 15px;
  line-height: 1.7;
}


/* Mission & Vision */
.mission-vision {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto 60px;
}

.mv-card {
  padding: 25px;
  border-radius: 12px;
  background: #f9f9f9;
  box-shadow: 0 8px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.mv-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.mv-icon {
  width: 50px;
  height: 50px;
  color: #d62828;
  margin-bottom: 10px;
}
.mv-icon:hover {
  transform: translateY(-2px);
  box-shadow: 0 0px 0px rgba(0,0,0,0.1);
}

.mv-card h3 {
  font-size: 24px;
  margin-bottom: 12px;
}
.mv-card h3:hover {
  transform: translateY(-2px);
  box-shadow: 0 0px 0px rgba(0,0,0,0.1);
}

/* Values */
.values-section {
  max-width: 1200px;
  margin: 60px auto 60px;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.value-card {
  padding: 25px;
  text-align: center;
  background: #f9f9f9;
  border-radius: 12px;
  
  box-shadow: 0 8px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}
.value-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}


.value-icon {
  width: 45px;
  height: 45px;
  color: #d62828;
  margin-bottom: 10px;
}

.value-card h4 {
  font-size: 20px;
  margin-bottom: 8px;
}

.value-card p {
  font-size: 15px;
  color: #555;
}
