.floating-container {
  position: fixed;
  right: 25px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 9999;
}

/* Base Button Style */
.floating-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: black;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

/* WhatsApp Button */
.whatsapp {
  background: #25d366;
  box-shadow: 0 0 20px rgba(37, 211, 102, 0.4);

}

/* Location Button */
.location {
  background: #4285f4;
  box-shadow: 0 0 20px rgba(66, 133, 244, 0.4);
}


